<template>
<div class="container">
  <Header />
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">数据</span>

        <span class="badge badge-secondary badge-pill">{{
            getResourceLength
          }}</span>
      </h4>
      <ResourceSearch />
      <ResourceList :resources="resources" />
    </div>

    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">
        更新数据
        <button @click="isDetailView = !isDetailView" class="btn btn-sm btn-success">
          切换
        </button>
      </h4>
      <ResourceDetail v-if="isDetailView" />
      <ResourceUpdate v-else />
    </div>
    <!-- {/* Detail View Ends */} -->
  </div>
</div>
</template>

<script>
import Header from "@/components/Header";
import ResourceSearch from "@/components/ResourceSearch";
import ResourceList from "@/components/ResourceList";
import ResourceUpdate from "@/components/ResourceUpdate";
import ResourceDetail from "@/components/ResourceDetail";
import {
  reactive,
  toRefs,
  computed,
  ref
} from "vue";

export default {
  components: {
    Header,
    ResourceSearch,
    ResourceList,
    ResourceUpdate,
    ResourceDetail,
  },
  setup() {
    const isDetailView = ref(true);
    const data = reactive({
      resources: [{
          _id: "1",
          title: "米修在线1",
          description: "专注于编程教育",
          type: "video",
          link: "",
        },
        {
          _id: "2",
          title: "米修在线2",
          description: "专注于编程教育",
          type: "video",
          link: "",
        },
        {
          _id: "3",
          title: "米修在线3",
          description: "专注于编程教育",
          type: "book",
          link: "",
        },
        {
          _id: "4",
          title: "米修在线4",
          description: "专注于编程教育",
          type: "video",
          link: "",
        },
        {
          _id: "5",
          title: "米修在线5",
          description: "专注于编程教育",
          type: "book",
          link: "",
        },
        {
          _id: "6",
          title: "米修在线6",
          description: "专注于编程教育",
          type: "video",
          link: "",
        },
      ],
    });

    // const getResourceLength = () => {
    // console.log("方法是所有内容都要触发");

    //   return data.resources.length;
    // };

    const getResourceLength = computed(() => {
      console.log("计算属性是只要数据发生变化才会触发");
      return data.resources.length;
    });

    return {
      ...toRefs(data),
      getResourceLength,
      isDetailView,
    };
  },
};
</script>

<style scoped></style>
