<template>
<div class="py-5 text-center">
  <img height="150" src="@/assets/logo.png" alt="" />
  <h2>米修在线</h2>
  <p class="lead">以人为镜可明得失,以代码为镜可通逻辑!</p>
</div>
</template>

<script>
export default {};
</script>

<style scoped></style>
