<template>
<form>
  <div class="mb-3">
    <label htmlFor="firstName">标题</label>
    <input type="text" class="form-control" id="firstName" placeholder="How to survice in mountains" />
  </div>
  <div class="mb-3">
    <label htmlFor="email">Description <span class="text-muted">(Optional)</span></label>
    <input type="email" class="form-control" id="email" placeholder="Very interesting book" />
  </div>
  <div class="mb-3">
    <label for="description">描述</label>
    <textarea class="form-control" id="description" placeholder="相关描述...."></textarea>
  </div>
  <div class="mb-3">
    <label htmlFor="username">链接</label>
    <div class="input-group">
      <input type="text" class="form-control" id="username" placeholder="链接地址..." />
    </div>
  </div>
  <hr class="mb-4" />
  <button class="btn btn-primary btn-lg btn-block" type="submit">
    提交
  </button>
</form>
</template>

<script>
export default {};
</script>

<style scoped></style>
