<template>
<form class="card p-2">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="写点啥..." />
    <div class="input-group-append">
      <button type="submit" class="btn btn-secondary">搜索</button>
    </div>
  </div>
</form>
</template>

<script>
export default {};
</script>

<style scoped></style>
