<template>
  <ResourceHome />
</template>

<script>
import ResourceHome from "@/views/ResourceHome.vue";
export default {
  name: "App",
  components: { ResourceHome },
};
</script>

<style>
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
</style>
